body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;

}

.orange {
  color: orange;
}

section {
  display: flex;
  margin-bottom: 130px;
}
.half-width{
  width: 50%;
  padding-left: 2%;
}
.half-width img{
  width: 90%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}
.drem-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}